@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

* {
  font-family: "Varela", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("./img/background.png");
  color: black;
  display: block;
}

.content {
  box-sizing: border-box;
  padding: 20px;
  float: right;
  width: 80%;
}
.content-header {
  border: 1px solid;
}
header {
  background-color: none;
  background-position: center;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  color: rgb(170, 187, 174);
  height: 120px;
}
.logo {
  width: 100px;
  padding-left: 18px;
}

nav {
  align-items: center;
  position: sticky;
  width: 50%;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.link {
  text-decoration: none;
  color: gray;
}
.detail {
  text-decoration: none;
  color: gray;
}
.detail:hover {
  color: black;
}
header nav ul li {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  width: 200px;
  vertical-align: middle;
}
header nav ul li:hover {
  transition-duration: 0.1s;
  color: black;
  cursor: pointer;
}
.link:hover {
  transition-duration: 0.1s;
  color: black;
  cursor: pointer;
}

.loginForm {
  margin: 0 auto;
}

.makeAccount {
  padding-top: 100px;
}

.Sidebar {
  margin-bottom: -5000px;
  top: 0;
  position: sticky;
  align-content: center;
  box-sizing: border-box;
  padding: 0 20px;
  border-right: 1px solid black;
  float: left;
  width: 20%;
  height: 100%;
}
.Sidebar img {
  max-height: 200px;
  border-radius: 20px;
}

.changePassword {
  margin-top: 100px;
}
.tableData {
  margin-top: 85px;
}

.footer {
  float: right;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: none;
  text-align: center;
  width: 100%;
}

.buttonFilter {
  float: right;
  margin-bottom: 30px;
}
.social img {
  height: 50px;
}
.imageDetail {
  max-height: 300px;
  max-width: 100%;
}

.sort {
  /* style={{flex: '1 0 0'}} */
  flex: 1 0 0;
}
.social img {
  margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
  .content {
    box-sizing: border-box;
    float: none;
    width: 100%;
  }
  .Sidebar {
    border: 0;
    float: none;
    width: 100%;
  }
  .Sidebar img {
    float: left;
  }
  .Sidebar p {
    width: 70%;
    float: right;
  }
  .social {
    margin-top: 250px;
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .Sidebar p {
    width: 60%;
  }
  .Sidebar {
    border: 0;
  }
  nav {
    width: 80%;
    margin-right: 30px;
  }
  header nav ul li {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    vertical-align: middle;
    color: black;
  }
  .logo {
    padding-left: 0;
    margin-left: -10px;
  }
}

.card {
  margin-top: 20px;
  border-bottom: 1px solid;
  /* position: relative; */
}

.card img {
  max-height: 400px;
  max-width: 100%;
}
.card .judul {
  padding: 20px 0;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
}
.addMovie {
  margin-top: 23px;
  float: right;
}
